
html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
}


header {
    font-size: 2.4rem;
    padding: 0.8rem;
}

/* navigation section */


nav ul {
    list-style-type: none;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

nav ul li {
    border-top: 0.2rem solid black;
    padding: 1.2rem;
}

nav ul li:last-of-type {
    border-bottom: 0.2rem solid black;
}

.nav-link {
    text-decoration: none;
}

/* main */

#main-doc {
    margin-left: 1.2rem;
    margin: 0 0 0 2.2rem;
}

#main-doc header {
    text-decoration: underline;
    margin-top: 2.7rem;
}

#main-doc p, ul {
    font-size: 1.3rem;
}


/* styling */


.bold {
 font-weight: bold;   
}

.divider {
    min-width: 0.2rem;
    background-color: black;
    
}

code {
    padding: 1rem;
    display: block;
    border-radius: 4px;
    width: 90%;
    margin: 2rem auto 3rem;
    font-size: 1rem;
   
}


#main-doc h3 {
    font-size: 1.6rem;
    margin-top: 2rem;
}

/* colors */

body {
    background-color: #f5f5f5; /* Light Gray */
    color: #2f4f4f; /* Dark Slate Gray for text */
}


#navbar {
    background-color: #e0f7fa; /* Light Blue */
    color: #191970; /* Midnight Blue for text */
}


.nav-link {
    color: #00bfff; /* Deep Sky Blue */
    transition: background-color 0.8s ease, color 0.8s ease;
}

.nav-link:hover {
    color: #ff7f50; /* Coral for hover */
}

header {
    color: #36454f; /* Charcoal */
}

code {
    background-color: #e6e6fa; /* Pastel Lavender */
    color: #654321; /* Dark Brown */
}


